:root {
    --color-black: black;
    --color-white: white;
    --color-common: #fbb034;
}



// color section stydy plan 

$stydyPlan_color_green: #00c16e;
$stydyPlan_color_light_green: #e8f9f2;
$stydyPlan_color_red: #fd5c63;
$stydyPlan_color_light_red: #feebec;
$stydyPlan_color_blue: #00a4e4;
$stydyPlan_color_light_blue: #ebf8fd;