@use "../../utils" as *;
@use "../../globals" as *;


#gallery {
    .gallery {
        &_title {
            font-size: 30px;
            text-align: center;
            font-weight: 900;
        }

        &_slider {}

        &_content {
            h3 {
                font-weight: 600;
                font-size: 20px;
                margin: 10px 0px;
            }

            p {
                font-size: 16px;
                opacity: .8;

                a {
                    color: black;
                    font-weight: 600;
                }
            }

            button {
                color: black;
                font-size: 14px;
            }
        }
    }
}