<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Learn English - Course</title>
    <link rel="icon" href="../public/image/logo/favicon.ico">
    <link rel="stylesheet" href="../public/css/main.css">
    <link rel="stylesheet" href="../public/icon/fontawesome-free-6.4.2-web/fontawesome-free-6.4.2-web/css/all.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap">
    <!-- <script src="../../dist/main.js"></script> -->
    <script src="../../dist/pageCourse.js"></script>
</head>

<body>
    <header id="header" class="header">
        <div id="header_left_id" class="header_left"></div>
        <div class="header_right">
            <ul id="header_right_list_id" class="header_right_list">
                <li id="header_right_list_item_id" class="header_right_list_item " number="1">
                    <a href="http://127.0.0.1:5500/src/main.html">
                        <i class="fa-solid fa-house header_right_list_item_icon  "></i>
                        Home
                    </a>
                </li>
                <li id="header_right_list_item_id" class="header_right_list_item active " number="2">
                    <a href="http://127.0.0.1:5500/src/views/course.html">
                        <i class="fa-solid fa-table-cells-large header_right_list_item_icon"></i>
                        Course
                    </a>
                </li>
                <li id="header_right_list_item_id" class="header_right_list_item" number="3">
                    <a href="http://127.0.0.1:5500/src/views/register.html">
                        <i class="fa-solid fa-pager  header_right_list_item_icon"></i>
                        Register
                    </a>
                </li>
                <li id="header_right_list_item_id" class="header_right_list_item" number="4">
                    <a href="http://127.0.0.1:5500/src/views/login.html">
                        <i class="fa-solid fa-square header_right_list_item_icon"></i>
                        Login
                    </a>
                </li>
                <li id="header_right_list_item_id" class="header_right_list_item" number="5">
                    <a href="http://127.0.0.1:5500/src/views/travel.html">
                        <i class="fa-solid fa-address-card header_right_list_item_icon"></i>
                        Travel
                    </a>
                </li>
            </ul>
            <div id="header_right_search_id" class="header_right_search ">
                <input id="header_right_search_input_id" type="text" placeholder="search...">
                <i id="header_right_search_icon_delete_id"
                    class="fa-solid fa-circle-xmark header_right_search_icon_delete displayNone"></i>
                <i class="fa-solid fa-magnifying-glass header_right_search_icon_search"></i>
            </div>
            <div class="header_right_mode">
                <i class="fa-regular fa-moon header_right_mode_icon"></i>
            </div>

            <div id="header_right_menu_id" class="header_right_menu">
                <i class="fa-solid fa-bars-staggered header_right_menu_icon"></i>
            </div>
        </div>
    </header>
    <section id="page_course_slider">
        <div class="page_course_slider_bgLight">
            <div class="page_course_slider_bgLight_containerPath">
                <h3 class="page_course_slider_bgLight_containerPath_title">Courses</h3>
                <span class="page_course_slider_bgLight_containerPath_text-1">
                    Home
                </span>
                <i class="fa-solid fa-chevron-right"></i>
                <span class="page_course_slider_bgLight_containerPath_text-2">
                    Course
                </span>
            </div>
        </div>
    </section>
    <section id="page_course_content">
        <div class="page_course_content_title">
            <h2>
                BEST COURSES
            </h2>
            <h2>
                Find The Right Course For You
            </h2>
        </div>
        <div class="page_course_content_courses">
            <ul class="page_course_content_courses_list">
                <li class="page_course_content_courses_list_item">
                    <div class="page_course_content_courses_list_item_img">
                        <img src="../public/image/course_slider/giao_tiep.webp" alt="">
                    </div>
                    <div class="page_course_content_courses_list_item_content">
                        <ul>
                            <li>
                                <i class="fa-solid fa-book-open-reader"></i>
                                <span>Lesson</span>
                            </li>
                            <li>
                                <i class="fa-solid fa-star"></i>
                                <span>4.5</span>
                            </li>
                        </ul>
                        <h2>
                            Ngữ Pháp Cơ Bản
                        </h2>
                        <p>
                            Nắm vững các kiến thức ngữ pháp cơ bản trong tiếng Anh.
                        </p>
                        <div class="page_course_content_courses_list_item_content_footer">
                            <span class="page_course_content_courses_list_item_content_footer_price">$42.00</span>
                            <button class="page_course_content_courses_list_item_content_footer_btn">Buy</button>
                        </div>
                    </div>
                </li>
                <li class="page_course_content_courses_list_item">
                    <div class="page_course_content_courses_list_item_img">
                        <img src="../public/image/course_slider/ngu_phap.webp" alt="">
                    </div>
                    <div class="page_course_content_courses_list_item_content">
                        <ul>
                            <li>
                                <i class="fa-solid fa-book-open-reader"></i>
                                <span>Lesson</span>
                            </li>
                            <li>
                                <i class="fa-solid fa-star"></i>
                                <span>4.5</span>
                            </li>
                        </ul>
                        <h2>
                            Ngữ Pháp Cơ Bản
                        </h2>
                        <p>
                            Nắm vững các kiến thức ngữ pháp cơ bản trong tiếng Anh.
                        </p>
                        <div class="page_course_content_courses_list_item_content_footer">
                            <span class="page_course_content_courses_list_item_content_footer_price">$100.00</span>
                            <button class="page_course_content_courses_list_item_content_footer_btn">Buy</button>
                        </div>
                    </div>
                </li>
                <li class="page_course_content_courses_list_item">
                    <div class="page_course_content_courses_list_item_img">
                        <img src="../public/image/course_slider/phat_am.webp" alt="">
                    </div>
                    <div class="page_course_content_courses_list_item_content">
                        <ul>
                            <li>
                                <i class="fa-solid fa-book-open-reader"></i>
                                <span>Lesson</span>
                            </li>
                            <li>
                                <i class="fa-solid fa-star"></i>
                                <span>4.5</span>
                            </li>
                        </ul>
                        <h2>
                            Ngữ Pháp Cơ Bản
                        </h2>
                        <p>
                            Nắm vững các kiến thức ngữ pháp cơ bản trong tiếng Anh.
                        </p>
                        <div class="page_course_content_courses_list_item_content_footer">
                            <span class="page_course_content_courses_list_item_content_footer_price">$66.00</span>
                            <button class="page_course_content_courses_list_item_content_footer_btn">Buy</button>
                        </div>
                    </div>
                </li>
                <li class="page_course_content_courses_list_item">
                    <div class="page_course_content_courses_list_item_img">
                        <img src="../public/image/course_slider/tu_vung.webp" alt="">
                    </div>
                    <div class="page_course_content_courses_list_item_content">
                        <ul>
                            <li>
                                <i class="fa-solid fa-book-open-reader"></i>
                                <span>Lesson</span>
                            </li>
                            <li>
                                <i class="fa-solid fa-star"></i>
                                <span>4.5</span>
                            </li>
                        </ul>
                        <h2>
                            Ngữ Pháp Cơ Bản
                        </h2>
                        <p>
                            Nắm vững các kiến thức ngữ pháp cơ bản trong tiếng Anh.
                        </p>
                        <div class="page_course_content_courses_list_item_content_footer">
                            <span class="page_course_content_courses_list_item_content_footer_price">$80.00</span>
                            <button class="page_course_content_courses_list_item_content_footer_btn">Buy</button>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </section>
    <section id="footer">
        <div class="footer_container">
            <div id="footer_container_item_1_id" class="footer_container_item footer_container_item_1">

            </div>
            <div class="footer_container_item footer_container_item_2">
                <h3 class="footer_container_item_2_title">
                    Archives
                </h3>
                <ul class="footer_container_item_2_list">
                    <li class="footer_container_item_2_list_item">
                        November 2023
                    </li>
                </ul>
            </div>

            <div class="footer_container_item footer_container_item_3">
                <h3 class="footer_container_item_3_title">
                    Outstanding Course
                </h3>
                <ul class="footer_container_item_3_list">
                    <li class="footer_container_item_3_list_item">
                        Communicate
                    </li>
                    <li class="footer_container_item_3_list_item">
                        Vocabulary
                    </li>
                    <li class="footer_container_item_3_list_item">
                        grammar
                    </li>
                    <li class="footer_container_item_3_list_item">
                        pronunciation
                    </li>
                </ul>
            </div>

            <div class="footer_container_item footer_container_item_4">
                <h3 class="footer_container_item_4_title">
                    Main Function
                </h3>
                <ul class="footer_container_item_4_list">
                    <li class="footer_container_item_4_list_item">
                        Log in
                    </li>
                    <li class="footer_container_item_4_list_item">
                        Register
                    </li>
                    <li class="footer_container_item_4_list_item">
                        Studying through online lessons
                    </li>
                    <li class="footer_container_item_4_list_item">
                        Select/purchase a course
                    </li>
                </ul>
            </div>
            <div class="footer_container_item footer_container_item_5">
                <h3 class="footer_container_item_5_title">
                    Newsletter
                </h3>
                <div class="footer_container_item_5_container_input">
                    <input type="text" placeholder="Email Address">
                    <button>
                        <i class="fa-solid fa-paper-plane"></i>
                    </button>
                </div>
                <p class="footer_container_item_5_text">
                    Subscribe to our mailing list and get updates to your email inbox.
                </p>
                <ul class="footer_container_item_5_list">
                    <li>
                        <a href="">
                            <i class="fa-brands fa-facebook"></i>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <i class="fa-brands fa-twitter"></i>
                        </a>

                    </li>
                    <li>
                        <a href="">
                            <i class="fa-brands fa-google-plus-g"></i>
                        </a>

                    </li>
                    <li>
                        <a href="">
                            <i class="fa-brands fa-instagram"></i>
                        </a>

                    </li>
                    <li>
                        <a href="">
                            <i class="fa-brands fa-linkedin-in"></i>
                        </a>
                    </li>

                </ul>
            </div>
        </div>
        <div class="footer_copyright">
            <p>© 2023 Setup. All Rights Reserved | Online English Learning Topics.</p>
        </div>
    </section>
</body>

</html>